{% if page.category == "popular" %}
  {% assign link = "/" | append: station.name | slugify | append: "/" %}
{% elsif page.category == "genres" %}
  {% assign link = "/" | append: station.name | slugify | append: "/" %}
{% elsif page.category == "countries" %}
  {% assign link = "/" | append: station.name | slugify | append: "/" %}
{% else %}
  {% assign link = "#" %}
{% endif %}

<a href="{{ link }}" class="d-flex align-items-center justify-content-between border rounded-3 p-2 mb-2 text-decoration-none text-body bg-body shadow-sm">
  <div class="d-flex align-items-center">
    <img src="{{ station.favicon | default: '/assets/img/default-radio-icon.png' }}" alt="{{ station.name }} icon" class="station-icon me-3 rounded-2" loading="lazy">
    <div>
      <div class="fw-semibold">{{ station.name | strip }}</div>
      <div class="small text-body-secondary">{{ station.tags | replace: ',', ', ' }}</div>
    </div>
  </div>
  <div class="d-flex gap-2">
    <span class="badge align-items-center p-1 py-2 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle">
      <i class="bi bi-caret-up-fill px-1"></i> Votes
      <span class="vr mx-2"></span> {{ station.votes }}
    </span>
  </div>
</a>